<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD지정  -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.webook.mappers.reviewMapper">

	<!-- 리뷰작성 -->
	<insert id="reviewInsert">
		insert into tbl_review (reUserId, reGdsNum, reDes, reRegdate) 
		values(#{reUserId}, #{reGdsNum}, #{reDes}, now()) 
	</insert>
	
	<!-- AI제약조건 있는 reNum 가져오기  -->
	<select id="getRenum" resultType="int">
		select max(reNum) from tbl_review;
	</select>
	
	<!-- 리뷰 목록 -->
	<select id="reviewList" resultType="com.webook.domain.GoodsReviewVO">
		select * 
		from tbl_review 
		where reGdsNum = #{gdsNum}
		order by re_ref asc, re_seq asc
	</select>
	
	<!-- 리뷰 목록 each -->
	<select id="reviewListEach" resultType="com.webook.domain.GoodsReviewVO">
		select * 
		from tbl_review 
		where reNum = #{reNum}
	</select>
	
	<!-- re_ref와 reNum 동기화 -->
	<update id="syncRe_ref">
		update tbl_review set re_ref = #{reNum} 
		where reNum = #{reNum}
	</update>
	
	
	<!--  -->







</mapper>