<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD지정  -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.webook.mappers.GoodsReviewMapper">

	<!-- 리뷰작성 -->
	<insert id="reviewInsert">
		insert into tbl_review (reUserId, reGdsNum, reDes, reRegdate) 
		values(#{reUserId}, #{reGdsNum}, #{reDes}, now()) 
	</insert>
	
	<!-- AI제약조건 있는 reNum 가져오기  -->
	<select id="getRenum" resultType="int">
		select max(reNum) from tbl_review;
	</select>
	
	<!--  -->
	<!--  -->
	<!--  -->
	<!--  -->







</mapper>